@media screen and (max-height: 602px) and (orientation: landscape) and (max-width:639px)
{
    .responsiveSection{
        height: auto;
      }
}

@media screen and (max-height: 550px) and (orientation: portrait){
    .responsiveSection{
        height: auto;
      }
}
/*
MAGIC !
*/

@media screen and (max-height: 630px) and (orientation: portrait){
  .mainCard{
    width: 50vh;
    height: 60vh;
  }
  .mainCardBack{
    margin-top: -60vh;
  }
}
