@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  /*button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }*/
}

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@layer utilities {
.navDetails >*:hover{
  color: rgb(56 189 248);

  transition: 1s ease-in;
  transform: scale(1.1);
}

  .cardListItems{
    border-bottom: 1px solid #645d5d;
    padding: 2rem;
  }
  .logo{
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  strong{
    color: rgb(56 189 248);
  }

  .scoreDiv span{
    display: flex;
    justify-content: center;
    color: green;
  }
  
  /* HTML details smooth animation */
  
  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
  .card{
    text-align: center;
    
    border: 4px double rgb(45, 99, 216);
    border-radius: 2%;
  
    box-shadow: 10px 10px 5px 0px rgba(72, 70, 70, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(31, 31, 31, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(45, 44, 44, 0.75);
  }
}




@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}

@media screen and (max-height: 550px) and (max-width:528px){
  main details ul{
    font-size: 90%;
  }
}

@media screen and (max-height: 550px) and (orientation: landscape) and (max-width:639px)
{
  .responsiveMenu{
    width: 100vw;
    padding: 1rem;
  }
  .responsiveMenu nav ul main{

  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;*/
 
  }
  .responsiveMenu nav ul main details{
    width: 50%;

  }
  .responsiveSection{
    height: 120vh;
  }
  .responsiveMenu nav ul main details{

    padding: 0;
  }
}



@media screen and (max-height: 370px) and (orientation: landscape){
  .responsiveSection{
    height: 200vh;
  }
  .mottoCover{
    margin:0;
  }
  .responsiveMenu nav ul nav ul{
    padding: 0px 0px;
  }

}

@media screen and (max-width: 450px){
  .navClose{
    margin-left: -100px;
  }
}
@media screen and (max-width: 350px){
 .oxfordClose{
  width: 5%;
 }
}



